$primaryColor: #002140;
$primaryDarkColor: #002140;
$primaryLightColor: #A5D6A7;
$accentColor: #00695C;
$accentDarkColor: #4527A0;
$accentLightColor: #f9a825;
$accentTextColor: #212121;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #676767;
$darkMenuRouterLinkActiveColor: #ffeb3b;
$lightMenuRouterLinkActiveColor: #fff;
$horizontalLightMenuRouterLinkActiveColor: #fff;

@import '../../sass/layout/_layout';
